<div class="scheduler" nz-row>
    <div nz-col nzSpan="24" class="header-background">
        <nz-page-header class="site-page-header" nzTitle="Find a Class">
        </nz-page-header>
    </div>
    <div nz-col nzSpan="24">
        <div *ngFor="let wd of weekdayArray ">

            <ul nz-list [nzDataSource]="classes.Monday" nzBordered nzSize="large" *ngIf="wd === 'Monday'">
                <div *ngFor="let item of classes.Monday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link" (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link" (click)="handleGoToLink()" [nzSize]="size"
                                    nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

            <ul nz-list [nzDataSource]="classes.Tuesday" nzBordered nzSize="large" *ngIf="wd === 'Tuesday'">
                <div *ngFor="let item of classes.Tuesday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link"
                                (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link"
                                    (click)="handleGoToLink()"
                                    [nzSize]="size" nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

            <ul nz-list [nzDataSource]="classes.Wednesday" nzBordered nzSize="large" *ngIf="wd === 'Wednesday'">
                <div *ngFor="let item of classes.Wednesday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link"
                                (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link"
                                    (click)="handleGoToLink()"
                                    [nzSize]="size" nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

            <ul nz-list [nzDataSource]="classes.Thursday" nzBordered nzSize="large" *ngIf="wd === 'Thursday'">
                <div *ngFor="let item of classes.Thursday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link"
                                (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link"
                                    (click)="handleGoToLink()"
                                    [nzSize]="size" nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

            <ul nz-list [nzDataSource]="classes.Friday" nzBordered nzSize="large" *ngIf="wd === 'Friday'">
                <div *ngFor="let item of classes.Friday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link"
                                (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link"
                                    (click)="handleGoToLink()"
                                    [nzSize]="size" nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

            <ul nz-list [nzDataSource]="classes.Saturday" nzBordered nzSize="large" *ngIf="wd === 'Saturday'">
                <div *ngFor="let item of classes.Saturday; let indexOfelement = index;">

                    <div class="header-background" *ngIf="indexOfelement === 0">
                        <nz-list-header class="header-date-text">{{ item.weekday }}</nz-list-header>
                    </div>
                    <li nz-list-item nzNoFlex [ngClass]="{'list-striped ': indexOfelement % 2 === 0}">

                        <br>
                        <span class="time-text">{{ item.startTime }} - {{item.endTime}}</span>
                        <span class="class-text">{{item.classTitle}} | In-Studio</span>

                        <div style="float: right;">
                            <span class="instructor-text"> {{ item.instructor }} </span>
                            <a nz-button nzType="link"
                                (click)="handleGoToLink()" [nzSize]="size"
                                nzType="primary">Book</a>
                        </div>

                        <nz-collapse nzGhost>
                            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <p class="class-text-description" style="margin:0;">
                                    {{item.classTitle}} | In-Studio Description

                                </p>

                                <p class="class-description" style="margin:0;">
                                    {{item.description}}
                                </p>

                                <nz-divider></nz-divider>

                                <a nz-button nzType="link"
                                    (click)="handleGoToLink()"
                                    [nzSize]="size" nzType="primary">Book</a>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </li>
                </div>
            </ul>

        </div>
    </div>
</div>